{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
    html,
    body {
        background-image: url('/assets/images/cover.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
    }

    body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    }
        .card{
            background-color: rgba(0,0,0,0.5) !important;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="splash-container">
        <div class="card">
            <div class="card-header text-center bg-dark text-white-50">Please enter your user information.</div>
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{form_widget(form.bill)}}
                    </div>
                    {{form_widget(form.submit, { 'label': 'Įkelti' })}}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
