{% extends 'base.html.twig' %}

{% block title %}Dokumentas {{ document.documentId }}{% endblock %}


{% block body %}
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="">{#dashboard-wrapper  #}
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Dokumentas #{{ document.documentId }} </h2>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- basic form -->
                        <!-- ============================================================== -->
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Jūsų sąskaita</h5>
                                <div class="card-body">
                                    <img alt="" class="img-fluid" src="/uploads/bills/{{ file }}" />
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end basic form -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- horizontal form -->
                        <!-- ============================================================== -->
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Sąskaitos duomenys</h5>
                                <div class="card-body">
                                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                                    {{ form_start(form) }}
                                        <div class="form-group row">
                                            <label for="document_invoiceSeries" class="col-3 col-lg-3 col-form-label text-right">Sąskaitos serija</label>
                                            <div class="col-9 col-lg-9">

                                                {{form_widget(form.invoiceSeries)}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="document_invoiceNumber" class="col-3 col-lg-3 col-form-label text-right">Sąskaitos numeris</label>
                                            <div class="col-9 col-lg-9">
                                                {{form_widget(form.invoiceNumber)}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="document_invoiceBuyerName" class="col-3 col-lg-3 col-form-label text-right">Pirkėjo vardas</label>
                                            <div class="col-9 col-lg-9">
                                                {{form_widget(form.invoiceBuyerName)}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="document_invoiceBuyerAddress" class="col-3 col-lg-3 col-form-label text-right">Pirkėjo adresas</label>
                                            <div class="col-9 col-lg-9">
                                                {{form_widget(form.invoiceBuyerAddress)}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="document_invoiceBuyerCode" class="col-3 col-lg-3 col-form-label text-right">Pirkėjo kodas</label>
                                            <div class="col-9 col-lg-9">
                                                {{form_widget(form.invoiceBuyerCode)}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="document_invoiceBuyerVatCode" class="col-3 col-lg-3 col-form-label text-right">Pirkėjo PVM kodas</label>
                                            <div class="col-9 col-lg-9">
                                                {{form_widget(form.invoiceBuyerVatCode)}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="document_invoiceDate_year" class="col-3 col-lg-3 col-form-label text-right">Sąskaitos data</label>
                                            <div class="col-9 col-lg-9">
                                                {{form_widget(form.invoiceDate)}}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="document_invoiceTotal" class="col-3 col-lg-3 col-form-label text-right">Galutinė suma</label>
                                            <div class="col-9 col-lg-9">
                                                {{form_widget(form.invoiceTotal)}}
                                            </div>
                                        </div>

                                            <div class="col-sm-6 pl-0 float-right mt-3">
                                                <p class="text-right">
                                                    {{form_widget(form.submit, { 'label': 'Išsaugoti' })}}
                                                </p>
                                            </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end horizontal form -->
                        <!-- ============================================================== -->
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
