{% extends 'base.html.twig' %}

{% block title %}Įkeltos sąskaitos{% endblock %}

{% block body %}
<div class="dashboard-main-wrapper">
    <main class="container">
        <div class="card mt-5">
        <h5 class="card-header">Įkeltos sąskaitos</h5>
            <div class="card-body">
                <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sąsk. data</th>
                    <th scope="col">Serija</th>
                    <th scope="col">Klientas</th>
                    <th scope="col">Į.k.</th>
                    <th scope="col">PVM k.</th>
                    <th scope="col">Adresas</th>
                    <th scope="col">Viso</th>
                    <th scope="col">Būsena</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('documents', {document: document.documentId}) }}"
                            class="text-primary">{{ document.documentId }}</a>
                        </th>
                        <td>
                            {{ document.invoiceDate|date("Y-m-d") }}
                        </td>
                        <td>
                            {{ document.invoiceSeries }}-{{ document.invoiceNumber }}
                        </td>
                        <td>
                            {{ document.invoiceBuyerName }}
                        </td>
                        <td>
                            {{ document.invoiceBuyerCode }}
                        </td>
                        <td>
                            {{ document.invoiceBuyerVatCode }}
                        </td>
                        <td>
                            {{ document.invoiceBuyerAddress }}
                        </td>
                        <td>
                            {{ document.invoiceTotal }}
                        </td>
                        <td class="{% if document.scanStatus == 'success' %}bg-success{% elseif document.scanStatus == 'error' %}bg-danger{% else %}bg-warning{% endif %} text-white">
                            {{ document.scanStatus }}<br>
                            <small>{{ document.createTime|date("Y-m-d H:i") }}</small>
                        </td>
                        <td class="text-center">
                            <a href="{{ path('documents', {document: document.documentId}) }}" class="btn btn-sm btn-outline-dark">Redaguoti</a>
                            <a href="{{ path("document_download", {document: document.documentId}) }}" class="btn btn-sm btn-outline-info mt-3">Atsisiųsti</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>

        {% if pager.haveToPaginate %}
            <div class="pagerfanta">
                {{ pagerfanta(pager, 'twitter_bootstrap4') }}
            </div>
        {% endif %}
    </main>
</div>
{% endblock %}
